$desktop: 19000px;
$tablet:  768px;
$mobile:  576px;

.container {
  max-width: 1200px;
}

.container-full {
  max-width: 1300px;
}

.container, .container-full {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
