    
// *****************
// Color Variables
// *****************
$primary-color: #6b69fa;
$secondary-color: #ffa764; //change from ffd001
$dark: #333;
$gray: #2d2c31; //post text color
$gray-dark: #999;
$gray-blue: #384152; 
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: #fff;
